<html>
    <head>
        <title>it's your girl</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Time Bonanza</a></h1>
        </div>

        <div>
            <h2>my first post</h2>
        </div>

        <div>
            <p>Information about fruits and feelings.</p>
            <p>published: 02.01.2020, 16:09</p>
        </div>  

        <div>
            <h2>my second post</h2>
        </div>

        <div>
            <p>Information about places and types of sky weather.</p>
            <p>published: 02.01.2020, 16:11</p>
        </div>
    </body>
</html>